body {
  margin-top: 250px;
  font-family: 'Roboto';
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"] {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#verifyButton {
  background-color: #4CAF50;
  color: white;
}

.homepage-button {
  max-width: 400px;
  display: block;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 3px;
}

.homepage-button:hover {
  background-color: #0056b3;
}


#verifyButton:hover {
  background-color: #20611f;
}