body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  max-width: 800px;
  margin: 20px;
}

h1, h2 {
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.order-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#purchaseOrderButton {
  background-color: green;
  color: #fff;
}

#purchaseOrderButton:hover {
  background-color: #007d39;
}

#cancelOrderButton {
  background-color: red;
  color: #fff;
}

#cancelOrderButton:hover {
  background-color: #b30000;
}
