body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .inventory-details {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
  }
  
  #inventoryDescription{
    text-align: center; 
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table, th, td {
    border: 1px solid #ccc;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 30px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .update-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  #addProductButton {
    background-color:  #4CAF50;;
  }
  
  #backToInventoryButton {
    margin-left: 30px;
    background-color: #ffc107;
  }
  